h1 {
    color: #d88c9a
    text-align: center;
}
h2 {
    color: #c17a8b;
    border-bottom: 2px solid #f2d5da;
    padding-bottom: 5px;
    margin-top: 40px;
}
ul {
    list-style: none;
    padding-left: 0;
}
li {
    background-color: #fbe8ec;
    margin-bottom: 8px;
    padding: 10px 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
a {
    color: #c17a8b;
    text-decoration: none;
    font-weight: bold;
}
a:hover {
    text-decoration: underline;
}
.avis {
    background-color:  #fff0f3;
    border-left: 4px solid #d88c9a;
    padding:  12px 15px;
    margin-bottom: 10px;
    font-style: italic;
    border-radius: 6px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
body {
    background-color: #f6c9d3;
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
    font-family: Georgia, serif;
    color: #4a3f3f
}
h1 + img {
    width: 100%;
    max-height: 250px;
    object-fit: cover;
}
form {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    background: #fff0f3;
    padding: 8px;
    border: 1px solid #d88c9a;
}
form button {
    background: #d88c9a;
    color: white;
    font-weight: bold;
    cursor: pointer;
}
#AvisAleatoire {
    background-color: #fff0f3;
    border-left: 4px solid #d88c9a;
    padding: 12px 15px;
    margin-bottom: 10px;
    font-style: italic;
    border-radius: 6px;
    display: block;
}
#horaires li {
    border-left: 4px solid #d88c9a;
    border-radius: 6px;
}
button:hover{
    background: #d88c9a;
    color: white;
    font-weight: bold;
    border: none;
    padding: 8px 15px;
    cursor: pointer;
    transition:all 0.3s ease;
}
#AvisAleatoire:empty{
    display: none;
}
@media (max-width: 500px) {
    form {
        flex-direction: column;
        align-items: stretch;
    }
    form input, form select, form button {
width: 100%;
box-sizing: border-box;
    }
}
h1 {
    text-align: center;
    color: #c17a8b;
    font-family: georgia, serif;
}
h1 + p {
    margin: 20px;
    text-align: center;
    font-style: italic;
    color: #4a3f3f
}










